################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arduino/Arduino Klima/BlowHeat/.vs/ProjectEvaluation/blowheat.projects.v5.1
/Arduino/Arduino Klima/BlowHeat/.vs/ProjectEvaluation/blowheat.metadata.v5.1
/Arduino/Arduino Klima/BlowHeat/.vs/BlowHeat/v17/ipch/AutoPCH/91856ecb156de2e7/HEAT.ipch
/Arduino/Arduino Klima/BlowHeat/.vs/BlowHeat/v17/ipch/AutoPCH/709cbaccd56996af/BLOWHEATV2.ipch
/Arduino/Arduino Klima/BlowHeat/.vs/BlowHeat/v17/ipch/AutoPCH/420796e32f0b88bd/BLOW.ipch
/Arduino/Arduino Klima/BlowHeat/.vs/BlowHeat/v17/Browse.VC.opendb
/Arduino/Arduino Klima/BlowHeat/.vs/BlowHeat/v17/Browse.VC.db-wal
/Arduino/Arduino Klima/BlowHeat/.vs/BlowHeat/v17/Browse.VC.db-shm
/Arduino/Arduino Klima/BlowHeat/.vs/BlowHeat/v17/Browse.VC.db
