################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arduino/Arduino Klima/BlowHeat/.vs/ProjectEvaluation/blowheat.projects.v5.1
